<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Suma de datos</title>
</head>
<body>
    <form action="/" method="GET">
        <label for="">Ingrese número 1:</label>
        <input type="number" name="numero1" min="0"><br>
        <label for="">Ingrese número 2:</label>
        <input type="number" name="numero2" min="0"><br>
        <input type="submit" value="Sumar">
    </form>
    <h1>El resultado de la suma es: {{valor}}</h1>
</body>
</html>